
* {
   padding: 0;
   margin: 0;
   list-style: none;
   box-sizing: border-box; 
}

:root{

    --ff-primary: "Helvetica Neue", Arial, sans serif;
    --ff-secundary: "Helvetica", Arial, sans serif;

    --clr-white:#FFFFFF;
    --clr-light-purple:#6c5393;
    --clr-grey:#333333;
    --clr-light-green: #61ff33;
    --clr-gold: #dcb647;
}

body{
    background-color: var(--clr-white);
    width: 100%;
    font-family: var(--ff-primary);
}
/* Texto inicio*/
header h6{
    
    color: var(--clr-light-purple);
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.14375rem;

    padding: 0.8333rem;

}

/*primeiro menu*/
.menu {

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: var(--clr-light-purple);
    color: var(--clr-white);
    font-size: 1.2rem;

    margin-left: auto;
    margin-right: auto;
}

.menu .m-logo img{
    height: 6rem;
}

.menu .m-busca input{
    border: 1px solid var(--clr-white);
    border-radius: 0.3125rem 0 0 0.3125rem;
    outline: 0;

    width: 26.5625rem;
    height: 2.5rem;
    margin-right: 0rem;
    padding: 0.5rem;

    color: var(--clr-light-purple);
    font-size: 1em;

}

.menu .m-busca button {
    position: absolute;

    background-color: var(--clr-light-purple);
    border: 1px solid var(--clr-white);
    border-radius: 0 0.3125rem 0.3125rem 0;
    
    margin-left: 0rem;
    padding: 0.3rem;

    color: var(--clr-white);
    font-size: 1.5rem;

    cursor: pointer;
    transition: 0.3s ease-in;
}

.menu .m-busca button:hover{
    background-color: var(--clr-gold);
}

.nav-container{
    margin-top: 0.3rem;
    color: var(--clr-white);
    font-size: 0.8125rem;
    background-color: var(--clr-light-purple);
}
.nav-container ul{
  display: flex;
  justify-content: center
}

.nav-container ul li{
    padding: 1rem 5rem;
}


