@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


* {
   padding: 0;
   margin: 0;
   list-style: none;
   box-sizing: border-box; 
}

:root{

    --ff-primary: "Helvetica Neue", Arial, sans serif;
    --ff-secundary: "Helvetica", Arial, sans serif;
    --ff-third:"Lato", sans serif;
    --clr-white:#FFFFFF;
    --clr-purple:#524175;
    --clr-light-purple:#6c5393;
    --clt-dark-purple: #34274d;
    --clr-gray:#333333;
    --clr-gray-2: #e8e8e8;
    --clr-light-gray:#c9c9c9;
    --clr-dark-gray:#c3c3c3;
    --clr-light-green: #61ff33;
    --clr-gold: #dcb647;
}

body{
    background-color: var(--clr-white);
    width: 100%;
    font-family: var(--ff-primary);
}
/* Texto inicio*/
header{
    position: fixed;
    z-index: 9999;

    width: 100%;
    height: 174px;
    top:0;
}
header h6{
    background-color: var(--clr-white);
    color: var(--clr-light-purple);
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.14375rem;
    padding: 0.8333rem;

}

/*primeiro menu*/
.menu {

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: var(--clr-light-purple);
    color: var(--clr-white);
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}

.menu .m-logo img{
    height: 6rem;
}

.menu .m-busca input{
    border: 1px solid var(--clr-white);
    border-radius: 0.3125rem 0 0 0.3125rem;
    outline: 0;

    width: 26.5625rem;
    height: 2.5rem;
    margin-right: 0rem;
    padding: 0.5rem;

    color: var(--clr-light-purple);
    font-size: 0.8em;

}

.menu .m-busca button {
    position: absolute;

    background-color: var(--clr-light-purple);
    border: 1px solid var(--clr-white);
    border-radius: 0 0.3125rem 0.3125rem 0;
    
    margin-left: 0rem;
    padding: 0.3rem;

    color: var(--clr-white);
    font-size: 1.5rem;

    cursor: pointer;
    transition: 0.3s ease-in;
}

div.m-login, div.m-contato, div.m-carrinho {
    cursor: pointer;
}

/*segundo menu*/

.nav-container{
    color: var(--clr-white);
    font-size: 0.8125rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--clr-light-purple);
    border-top: 1px solid var(--clr-white);
}
.nav-container ul{
  display: flex;
  justify-content: center;
  
}

.nav-container ul li{
    padding: 1rem 1.8rem;
    cursor: pointer;
}

.nav-container ul li.nav-liquidacoes{
    background-color: var(--clr-purple);
}

.nav-container ul li.nav-leilao{
    background-color: var(--clt-dark-purple);
    padding: 1rem 2.2rem;
    letter-spacing: 5px;
}

/*formulário de login*/

.login-container {
    width: 29.375rem;
    margin: 15rem auto;
    text-align: center;
}


div.login-container form h2{
    background-color: var(--clr-light-purple);
    color: var(--clr-white);

    text-transform: uppercase;
    font-family: var(--ff-third);
    font-weight: 300;
    font-size: 2.1em;
    letter-spacing: 6px;

    padding: 15px 0;
    margin-bottom: 0;

    border: 1px solid var(--clr-white);
    border-radius: 12px 12px 0 0;
}

div.login-container form label{
    display: block;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
    padding: 0.3rem 0;
    text-align: left;
    color: var(--clr-grey);
}

div.login-container form input{
    outline: 0;
    width: 95%;
    padding: 15px 5px;
    margin-bottom: 20px;
    border: 1px solid var(--clr-light-gray);
    border-radius: 5px;

}
div.login-container form input#senha{
    margin-bottom: 0.5rem;
}
#senha-mostrar{
    display: none;
    position: relative;
    top: -38px;
    right: -95px;
    width: 30px;
    color: var(--clr-gray);
}
#senha-ocultar{
    position: relative;
    top: -38px;
    right: -95px;
    width: 30px;

    color: var(--clr-gray);
}

.user-login p small{
    float: left;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}


.user-login p small span a{
    text-decoration: none;
    color: var(--clr-light-green);;
}

.btn-login button{
    width: 95%;
    height: 45px;
    padding: 5px;

    background-color: var(--clr-light-purple);
    color: var(--clr-white);

    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1rem;

    border: 1px solid var(--clr-light-gray);
    border-radius: 2px;

    cursor: pointer;

}

/*primeiro acesso*/

section.cadastro {
    margin: 1rem auto;
    background-color: var(--clr-gray-2);
    border: 1px solid var(--clr-white)
}

section.cadastro .novo-cadastro .texto-cadastro{
    padding: 0px;
    margin-top: 1rem;
    margin-bottom: 0;
    color: var(--clt-dark-purple);
    font-size: 1rem;
    font-family: var(--ff-third);
    outline: 285;
    text-transform: uppercase;
    letter-spacing: 7px;
}

section.cadastro .novo-cadastro{
    border-bottom: 2px solid var(--clr-dark-gray);
}
.novo-cadastro a{
    display: inline-block;
    width: 95%;
    height: 45px;

    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: 10px;
    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 7px;
    
    color: var(--clr-white);
    background-color: var(--clr-light-purple);

}

section .info-novo-cadastro {
    color: var(--clr-light-purple);
    margin: 0.8rem;
}
section .info-novo-cadastro p{
    margin-top: 0.5rem;
    padding: 0.3rem;
    font-size: 15px;
    line-height: 20px;
}
section .info-novo-cadastro p i.fa-whatsapp{
    color: var(--clr-light-green);
    font-size: 20px;
}
section .info-novo-cadastro p a {
    text-decoration: none;
    color: var(--clr-light-purple);
}

/* hover */
.menu .m-busca button:hover, .btn-login button:hover, .novo-cadastro a:hover{
    background-color: var(--clr-gold);
}

div.m-login:hover, div.m-contato:hover, div.m-carrinho:hover, .nav-container ul li:hover{
    color: var(--clr-gold);
}




